@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    -fx-font-family: 'Exo 2';
}
.btn {
    -fx-background-color: #98DDCA;
    -fx-font-size: 14px;
}
.btn:hover {
    -fx-background-color: #8ce4cb;
}

.pregunta {
    -fx-font-weight: bold;
    -fx-font-size: 40px;
}